# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv
venv/
.env/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Byte-compiled / distribution
build/
dist/
*.egg-info/

# OneDrive temporary files
~$*
